:root {
    --main-black: #242424;
    --main-grey: #595959;
    --main-light-grey: #CFCFCF;
    --main-lightest-grey: #F0F0F0;
    --main-white: #FFFFFB;
    --main-green: #4E6C50;
    --main-brown: #AA8B56;
    --main-red: #A25B5B;
    --main-dark-red: #7A4545;
    --main-tan: #FDF7E3;
    --main-yellow: #F7DDA4;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    list-style: none;
}

body {
    background-color: var(--main-tan);
}

.c-white {
    color: var(--main-white);
}

.c-black {
    color: var(--main-black);
}

.section-details {
    min-width: 30rem;
    max-width: 150rem;
    margin: 0 auto;
    position: relative;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .4);
    left: 0;
    right: 0;
    padding: 0 4rem;
    height: 10rem;
    width: 100%;
    min-width: 30rem;
    max-width: 150rem;
    margin: 0 auto;
}

#header-border {
    content: '';
    display: block;
    position: absolute;
    margin: 0 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid var(--main-white);
}

#header-title {
    margin: auto 0;
}

#home-link{
    font-size: 2rem;
    font-weight: 700;
}

#header-nav {
    margin: auto 0;
}

#header-nav-list {
    display: flex;
    flex-wrap: wrap;
}

.header-nav-list-items {
    padding: 2rem 1.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.header-nav-list-items:hover {
    background-color: var(--main-red);
}

.header-nav-list-items:active {
    background-color: var(--main-dark-red);
}

#welcome-section {
    display: flex;
    position: static;
    justify-content: center;
    background-image: url('./photos/main-page-welcome-photo_1.jpg');
    background-color: rgba(89, 89, 89, .4);
    background-position: center 0;
    background-size: 150rem;
    background-repeat: none;
    height: 70vh;
    margin: auto;
}

#welcome-section-text-container {
    margin-top: 27rem;
}

#welcome-section-text-container > h1 {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
    padding: 0 1rem;
    line-height: 6rem;

}

#welcome-section-text-container > p {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .05rem;
    text-align: center;
    margin-top: 2rem;
    color: var(--main-yellow);
}

#hamburger-icon {
    display: none;
    margin: auto 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(
      to bottom, 
      var(--main-white), var(--main-white) 20%, 
      rgba(0,0,0,0) 20%, rgba(0,0,0,0) 40%, 
      var(--main-white) 40%, var(--main-white) 60%, 
      rgba(0,0,0,0) 60%, rgba(0,0,0,0) 80%, 
      var(--main-white) 80%, var(--main-white) 100%
    );
}

#hamburger-nav {
    display: none;
    position: fixed;
    top: 10rem;
    right: -75rem;
    width: 100%;
    background-color: var(--main-lightest-grey);
    transition: 0.35s ease-out;
    border-radius: .5rem 0 0 .5rem;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

#hamburger-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.hamburger-nav-list-items {
    border-bottom: .1rem solid var(--main-light-grey);
}

.hamburger-nav-list-items:last-of-type {
    border-bottom: none;
}

#hamburger-input{
    position: absolute;
    right: -25rem;
    display: hidden;
  }

#hamburger-input:checked + #hamburger-icon #hamburger-nav {
    visibility: visible;
    right: 0;
}

#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
 }

 .overlay{
    display: none;
    position: fixed;
    top: 10rem;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#meet-us-section {
    height: 50rem;
    background-color: var(--main-lightest-grey);
}


@media (max-width: 750px) {

    header {
        justify-content: space-between;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #header-nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    #hamburger-nav {
        display: block;
        text-align: center;
    }

    header:after {
        width: 100%;
        left: 0;
    }

    .overlay {
        display: block;
    }
}