:root {
    --main-gray: #595959;
    --main-white: #FFFFFB;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    list-style: none;
}

.c-white {
    color: var(--main-white);
}

#header-container {
    position: relative;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 5rem 3rem 5rem;
    background-color: rgba(89, 89, 89, .4);
}

#header-title > p{
    font-size: 2rem;
    font-weight: 700;
}

#header-nav {
    display: flex;
    font-weight: 600;
}

#header-nav-list {
    display: flex;
    flex-wrap: wrap;
}

.header-nav-list-items {
    padding: 0 1.25rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: auto;
}

a {
    text-decoration: none;
}

.header-nav-list-items:last-of-type {
    padding-right: 0;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8DBBE;
    height: 50vh;
}

#welcome-section-container > h1 {
    font-size: 6rem;
    font-weight: 900;
}

#welcome-section-container > p {
    font-size: 2rem;
    text-align: center;
}


